/* All Browsers */
body {background-color:black; border-top: 10px; border-bottom: 10px; font-family: sans-serif; font-weight: bold;}
button {font-family: sans-serif; border-radius: 5px;}
h1{color:grey; font-family: Arial Bold, sans-serif; font-size: xx-large; margin: 25px 25px; padding-top: 25px;}
p {margin: 25px 50px;}
section {background-color: white; border-radius: 25px; margin: 5px 25px 50px 25px;}
table {margin: 10px 50px;}
.slider { border-radius: 50%;}
/* Firefox */
input[type=number] {-moz-appearance: textfield;}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}